<div class="about-wrapper" data-ng-controller="AboutController">
  <header>
    Innovative Design is a family of graphic designers and photographers at the University of California, Berkeley. We are creative individuals who are continuously evolving by collaborating, inspiring and educating one another. It is through our different artistic tools and talents that we are able to create novel photography and designs for our peers and professional clients.
  </header>

  <ul class="cd-container">
    <li class="cd-service cd-service-divider"></li>

    <li class="cd-service cd-service-1">
      <h2>Blue Tier</h2>
      <p>If you already have the design skills in Photoshop and/or Illustrator, join the Blue Tier Design Team for the opportunity to work for our professional clients. Provide design consulting for local businesses and organizations and create fliers, posters, websites, logos, marketing campaigns, and more in this fast-paced team. Members work together in a single, coherent team to comply with larger demands with a quick turnover.</p>
    </li> <!-- cd-service -->

    <li class="cd-service cd-service-2">
      <h2>Gold Tier</h2>
      <p>Want more opportunity to exercise your creativity and hone your design skills? Consider joining a Gold Tier Design Team. Teams of 6-8 members work together to complete design projects for student organizations and small, local groups. It is a great way to learn the graphic design process and build your portfolio in a low-stress environment. We use the Adobe Creative Suite software for digital content creation, though our members often come from backgrounds in other forms of media.</p>
    </li> <!-- cd-service -->

    <li class="cd-service cd-service-3">
      <h2>Photo Tier</h2>
      <p>Interested in photography? Join the photography tier for hands-on experience shooting professional headshots, event photography, stock photos and more. The photo tier includes weekly lessons of photo-retouching in Photoshop and Lightroom, camera techniques, and studio photography. A DSLR camera is required.</p>
    </li> <!-- cd-service -->

    <li class="cd-service cd-service-4">
      <h2>Web Tier</h2>
      <p>All about that web design? Join Web Tier where members design and build websites from the ground up. Work for clients all around with different needs and expectations. Expect to be work not only on coding but also design. Required skills are html, css, php, javascript.</p>
    </li> <!-- cd-service -->

    <li class="cd-service cd-service-5">
      <h2>Video Tier</h2>
      <p>Video your game? Well join video tier for hands-on experience in shooting and editing professional promotional pieces. The video tier includes weekly meetings and event recording. Experience in after effects, final cut, premier, etc. is highly recommended. Must record in HD or higher!</p>
    </li> <!-- cd-service -->

    <li class="cd-service cd-service-6">
      <h2>Marketing Tier</h2>
      <p>Marketing Tier is our newest design team. If you're interested in contributing to the look and identity of Innovative Design, consider joining this team of 6 - 8 people. Team members will be responsible for producing flyers, banners, and marketing campaigns for the club. This is a great opportunity to join our family of designers without being constrained to the demands of external clients.s</p>
    </li> <!-- cd-service -->

    <li class="cd-service cd-service-divider"></li>
  </ul> <!-- cd-services -->
  
  <div class="footer"></div>
</div>