<div class="about-wrapper" data-ng-controller="AboutController">
  <header>
    Innovative Design is a family of designers, photographers, web developers, and videographers at the University of California, Berkeley. We are creative individuals who are continuously evolving by collaborating, inspiring and educating one another. It is through our different artistic tools and talents that we are able to create novel photography, designs, videos, and websites for our peers and professional clients.
  </header>

  <ul class="fill-container">
    <li class="fill-box fill-box-divider"></li>

    <li class="fill-box fill-box-1">
      <h2>Blue Tier</h2>
      <p>
        If you already have the design skills in Photoshop and/or Illustrator, join the Blue Tier Design Team for the opportunity to work for our professional clients. Provide design consulting for local businesses and organizations and create fliers, posters, websites, logos, marketing campaigns, and more in this fast-paced team. Members work together in a single, coherent team to comply with larger demands with a quick turnover.
      </p>
    </li> <!-- fill-box -->

    <li class="fill-box fill-box-2">
      <h2>Gold Tier</h2>
      <p>
        Want more opportunity to exercise your creativity and hone your design skills? Consider joining a Gold Tier Design Team. Teams of 6-8 members work together to complete design projects for student organizations and small, local groups. It is a great way to learn the graphic design process and build your portfolio in a low-stress environment. We use the Adobe Creative Suite software for digital content creation, though our members often come from backgrounds in other forms of media.
      </p>
    </li> <!-- fill-box -->

    <li class="fill-box fill-box-3">
      <h2>Photo Tier</h2>
      <p>
        Interested in photography? Join the photo tier for hands-on experience shooting professional headshots, event photography, stock photos and more. The photo tier includes weekly lessons of photo-retouching in Photoshop and Lightroom, camera techniques, and studio photography. Our photographers each have their own artistic style that adds to the groups talents and skillsets. Join photo tier for an experience in almost every type of photography.
      </p>
    </li> <!-- fill-box -->

    <li class="fill-box fill-box-4">
      <h2>Web Tier</h2>
      <p>
        Developer with an eye for design? Join web tier to an experience working in a fast past development environment and tight knit group of talented programmers. Web tier members design and build websites from the ground up. We work for clients that are in need of technical help in modernizing their websites. We're a team of full-stack engineers with specialized areas. We do it all.
      </p>
    </li> <!-- fill-box -->

    <li class="fill-box fill-box-5">
      <h2>Video Tier</h2>
      <p>
        Next big shot movie director and videographer? Join video tier for hands-on experience in shooting and editing professional promotional pieces. The video tier includes weekly meetings and event recording. Out video tier specializes in promotional videos with high quality shooting and editing. Meetings consist of trying new techniques as well as editing videos for clients.
      </p>
    </li> <!-- fill-box -->

    <li class="fill-box fill-box-6">
      <h2>Marketing Tier</h2>
      <p>
        Marketing Tier is our in house branding team. If you're interested in contributing to the look and identity of Innovative Design, consider joining this team of 6 - 8 people. Team members will be responsible for producing flyers, banners, and marketing campaigns for the club. This is a great opportunity to join our family of designers without being constrained to the demands of external clients.
      </p>
    </li> <!-- fill-box -->

    <li class="fill-box fill-box-divider"></li>
  </ul> <!-- fill-boxs -->
  <div class="foot"></div>
</div>