<!-- Contact Page -->

<div class="contact-container" scroll>
    <a class="email" href="mailto:innovativedesignatcal@gmail.com">
        <div class="header cf" data-ng-class="{ hide : changeScroll }">
            <div class="icon">
                <img src="./img/icon/innovative-1.png">
            </div>
            <div class="text">
                <div class="name">
                    Innovative Design
                </div>
                <div class="title">
                    innovativedesignatcal@gmail.com
                </div>
            </div>
        </div>
    </a>

    <div class="section-top"></div>

    <!-- Presidents -->
    <div class="section cf">
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/greg.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Gregory Chin
                </div>
                <div class="title">
                    President
                </div>
                <div class="liner">
                    Blurbs make me sweaty...
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/lisa.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Lisa Inoue
                </div>
                <div class="title">
                    President
                </div>
                <div class="liner">
                    Your Japanese squeeze. Most likely in spandex.
                </div>
            </div>
        </div>

        <div class="section-break"></div>

        <!-- Advisors -->
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/elizabeth.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Elizabeth Lin
                </div>
                <div class="title">
                    Advisor
                </div>
                <div class="liner">
                    Aspiring princess.
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/shana.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Shana Hu
                </div>
                <div class="title">
                    Advisor
                </div>
                <div class="liner">
                    I like green...like a lot...
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/maruchi.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Maruchi Kim
                </div>
                <div class="title">
                    Advisor
                </div>
                <div class="liner">
                    Smiley tool...
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/jasonv.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Jason Vizmanos
                </div>
                <div class="title">
                    Advisor
                </div>
                <div class="liner">
                    Maker, baker, pixel curator.
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/andie.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Andie Biggs
                </div>
                <div class="title">
                    Advisor
                </div>
                <div class="liner">
                    As cool as lemon pie.
                </div>
            </div>
        </div>
    </div>

    <div class="section-break"></div>

    <!-- Officers -->
    <div class="section cf">
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/christian.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Christian Le
                </div>
                <div class="title">
                    Technology
                </div>
                <div class="liner">
                    Code for days...
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/brandon.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Brandon Chau
                </div>
                <div class="title">
                    Photography Services
                </div>
                <div class="liner">
                    I can’t believe it’s not bơ
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/lancy.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Lancy Zhang
                </div>
                <div class="title">
                    Administration
                </div>
                <div class="liner">
                    Perpetually, happily, and delightfully lost.
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/charisse.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Charisse Celestial
                </div>
                <div class="title">
                    Design Services
                </div>
                <div class="liner">
                    City lights enthusiast. Part time sloth.
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/kevin.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Kevin Lee
                </div>
                <div class="title">
                    Blue Tier
                </div>
                <div class="liner">
                    #TSMwin
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/jordan.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Jordan Said
                </div>
                <div class="title">
                    Recollections
                </div>
                <div class="liner">
                    A cute cactus. Ion the prize.
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/emily.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Emily To
                </div>
                <div class="title">
                    External
                </div>
                <div class="liner">
                    Do cat gifs count as a passion?
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/beryl.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Beryl Wang
                </div>
                <div class="title">
                    External
                </div>
                <div class="liner">
                    Proclaimed sweet tooth.
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/andrew.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Andrew Peng
                </div>
                <div class="title">
                    Internal
                </div>
                <div class="liner">
                    I am not who you think I am; I am not who I think I am; I am who I think you think I am
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/jasonm.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Jason Mai
                </div>
                <div class="title">
                    Internal
                </div>
                <div class="liner">
                    Worst Behavior
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/angira.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Angira Shirahatti
                </div>
                <div class="title">
                    Community Outreach
                </div>
                <div class="liner">
                    Part-time coder, full-time perfect.
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/aleks.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Aleks Kamko
                </div>
                <div class="title">
                    Community Outreach
                </div>
                <div class="liner">
                    01000001 01001011
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/alice.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Alice Pang
                </div>
                <div class="title">
                    Marketing
                </div>
                <div class="liner">
                    The little black dress, incarnate.
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/haidee.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Haidee Pan
                </div>
                <div class="title">
                    Marketing
                </div>
                <div class="liner">
                    I like drawing. And eggs.
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/gabi.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Gabi Dumaguin
                </div>
                <div class="title">
                    Education
                </div>
                <div class="liner">
                    I SEE YOU
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/linda.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Linda He
                </div>
                <div class="title">
                    Education
                </div>
                <div class="liner">
                    Code, color, create.
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="icon">
                <img src="./img/people/ingrid.jpg">
            </div>
            <div class="text">
                <div class="name">
                    Ingrid Hong
                </div>
                <div class="title">
                    Education
                </div>
                <div class="liner">
                    I like stripes, but I cannot frown.
                </div>
            </div>
        </div>
    </div>
</div>