<!-- public/views/contact.html -->
<!-- Innovative Design -->
<!-- by Christian Le -->
<!-- http://christianle.com -->
<!-- Github: cle1994  -->
<!-- LinkedIn: http://www.linkedin.com/in/christianle94/ -->

<div class="contact-wrapper" data-ng-controller="ContactController">
  <div class="container-fluid">
    <div class="key-officer col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
      <a href="mailto:innovativedesignatcal@gmail.com">
        <div class="img">
          <img class="innod-contact" src="../img/innovative-1.png" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Innovative Design</h3>
    </div>
  </div>
  <div class="container-fluid">
    <div class="key-officer col-md-4 col-sm-6 col-md-offset-2">
      <a href="mailto:gregchin94@berkeley.edu">
        <div class="img">
          <img src="../img/greg.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Gregory Chin</h3>
      <p>President</p>
    </div>
    <div class="key-officer col-md-4 col-sm-6">
      <a href="mailto:lisainoue1@gmail.com">
        <div class="img">
          <img src="../img/lisa.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Lisa Inoue</h3>
      <p>President</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="advisor col-md-4 col-sm-6 col-md-offset-2">
      <div class="img">
        <img src="../img/elizabeth.jpg" alt="">
        <div class="overlay">
          <img src="../img/email.svg" alt="">
        </div>
      </div>
      <h3>Elizabeth Lin</h3>
      <p>Advisor</p>
    </div>
    <div class="advisor col-md-4 col-sm-6">
      <div class="img">
        <img src="../img/shana.jpg" alt="">
        <div class="overlay">
          <img src="../img/email.svg" alt="">
        </div>
      </div>
      <h3>Shana Hu</h3>
      <p>Advisor</p>
    </div>
    <div class="advisor col-md-4 col-sm-6">
      <div class="img">
        <img src="../img/maruchi.jpg" alt="">
        <div class="overlay">
          <img src="../img/email.svg" alt="">
        </div>
      </div>
      <h3>Maruchi Kim</h3>
      <p>Advisor</p>
    </div>
    <div class="advisor col-md-4 col-sm-6">
      <div class="img">
        <img src="../img/jasonv.jpg" alt="">
        <div class="overlay">
          <img src="../img/email.svg" alt="">
        </div>
      </div>
      <h3>Jason Vizmanos</h3>
      <p>Advisor</p>
    </div>
    <div class="advisor col-md-4 col-sm-6">
      <div class="img">
        <img src="../img/andie.jpg" alt="">
        <div class="overlay">
          <img src="../img/email.svg" alt="">
        </div>
      </div>
      <h3>Andie Biggs</h3>
      <p>Advisor</p>
    </div>
  </div>
  <div class="container-fluid">
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:berylwang94@gmail.com">
        <div class="img">
          <img src="../img/beryl.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Beryl Wang</h3>
      <p>External</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:emilyto@berkeley.edu">
        <div class="img">
          <img src="../img/emily.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Emily To</h3>
      <p>External</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:christianle@berkeley.edu">
        <div class="img">
          <img src="../img/christian.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Christian Le</h3>
      <p>Technology</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:pang.alice@gmail.com">
        <div class="img">
          <img src="../img/alice.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Alice Pang</h3>
      <p>Marketing</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:haideeypan@berkeley.edu">
        <div class="img">
          <img src="../img/haidee.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Haidee Pan</h3>
      <p>Marketing</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:apeng5@berkeley.edu">
        <div class="img">
          <img src="../img/andrew.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Andrew Pang</h3>
      <p>Internal</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:jmai1026@berkeley.edu">
        <div class="img">
          <img src="../img/jasonm.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Jason Mai</h3>
      <p>Internal</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:brandonachau@gmail.com">
        <div class="img">
          <img src="../img/brandon.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Brandon Chau</h3>
      <p>Photo Services</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:jsaid@berkeley.edu">
        <div class="img">
          <img src="../img/jordan.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Jordan Said</h3>
      <p>Recollections</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:lancyzha@gmail.com">
        <div class="img">
          <img src="../img/lancy.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Lancy Zhang</h3>
      <p>Administration</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:ashirahattia@berkeley.edu">
        <div class="img">
          <img src="../img/angira.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Angira Shirahati</h3>
      <p>Community Outreach</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:ak@alekskamko.com">
        <div class="img">
          <img src="../img/aleks.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Aleks Kamko</h3>
      <p>Community Outreach</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:celestial@berkeley.edu">
        <div class="img">
          <img src="../img/charisse.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Charisse Celestial</h3>
      <p>Design Services</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:ingridhong@gmail.com">
        <div class="img">
          <img src="../img/ingrid.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Ingrid Hong</h3>
      <p>Education</p>
    </div>
    <div class="officer col-md-4 col-sm-6">
      <a href="mailto:gabrianna@berkeley.edu">
        <div class="img">
          <img src="../img/gabi.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Gabi Dumaguin</h3>
      <p>Education</p>
    </div>
    <div class="officer col-md-4 col-sm-6 col-md-offset-4">
      <a href="mailto:linda.he@berkeley.edu">
        <div class="img">
          <img src="../img/linda.jpg" alt="">
          <div class="overlay">
            <img src="../img/email.svg" alt="">
          </div>
        </div>
      </a>
      <h3>Linda He</h3>
      <p>Education</p>
    </div>
  </div>
</div>