<!-- public/views/events.html -->
<!-- Innovative Design -->
<!-- by Christian Le -->
<!-- http://christianle.com -->
<!-- Github: cle1994  -->
<!-- LinkedIn: http://www.linkedin.com/in/christianle94/ -->

<div class="events-container" data-ng-controller="EventController">
  <div class="">
    <div data-ng-repeat="event in events">
      <img src="{{ covers[$index] }}" alt="">
      <br>
      {{ event.name }}
      <br>
      {{ event.start_time | dateFilter }}
      <br>
      {{ event.start_time | timeFilter }}
      <br>
      {{ event.location }}
      <br>
    </div>
  </div>
</div>