<div data-ng-controller="HomeController">
  <div class="logo-header">
    <div class="logo-wrapper">
      <div class="logo-img">
        <img class="logotxt" src="img/innovative.png" />
      </div>
      <div class="animation">
        <span class="type">DESIGN<span>&#124;</span></span>
        <span class="type">PHOTOGRAPHY<span>&#124;</span></span>
        <span class="type">EDUCATION<span>&#124;</span></span>
        <span class="type">WEBDESIGN<span>&#124;</span></span>
        <span class="type">VIDEOGRAPHY<span>&#124;</span></span>
        <span class="type">DESIGN<span>&#124;</span></span>
      </div>
    </div>
  </div>
  <div class="pager">
    <div><i class="fa fa-angle-down arrow-down"></i></div>
  </div>
<!--   <div class="events">
    <div data-ng-show="eventShow">
      <img src="img/fb.png" alt=""><a href="http://facebook.com/{{ fbevent.id }}" target="_blank">{{ fbname }} on {{ fbday }} at {{ fbtime }} in {{ fblocation }}</a>
    </div>
  </div> -->
  <div class="portfolio col-md-12 no-padding">
    <div class="image-container">
      <img class="width-70" src="../img/portfolio/pixel.png" alt="">
      <img class="width-30" src="../img/portfolio/bbjj.jpg" alt="">
      <img class="width-30" src="../img/portfolio/bbjj2.jpg" alt="">
      <img class="width-80" src="../img/portfolio/bio.png" alt="">
      <img class="width-30" src="../img/portfolio/paws.jpg" alt="">
      <img class="width-30" src="../img/portfolio/paws2.png" alt="">
    </div>
    <div class="footer"></div>
  </div>
</div>