<div data-ng-controller="HomeController">
  <div class="logo-header">
    <div class="logo-wrapper">
      <div class="logo-img">
        <img class="logotxt" src="img/innovative.png" />
      </div>
      <div class="animation">
        <span class="type">DESIGN<span>&#124;</span></span>
        <span class="type">PHOTOGRAPHY<span>&#124;</span></span>
        <span class="type">EDUCATION<span>&#124;</span></span>
        <span class="type">WEBDESIGN<span>&#124;</span></span>
        <span class="type">VIDEOGRAPHY<span>&#124;</span></span>
        <span class="type">DESIGN<span>&#124;</span></span>
      </div>
    </div>
  </div>
  <div class="events">
    <img src="img/fb.png" alt=""><a href="http://facebook.com/{{ fbevent.id }}" target="_blank" data-ng-show="eventShow">{{ fbname }} on {{ fbday }} at {{ fbtime }} in {{ fblocation }}</a>
  </div>
  <div class="portfolio col-md-12 no-padding">
    <div class="image-container">
      <img src="https://api.fnkr.net/testimg/1920x1080/00CED1/FFF/?text=img+placeholder">
    </div>
    <div class="footer"></div>
  </div>
</div>