<div class="container-fluid" data-ng-controller="RequestController">
  <div class="intro pager" data-ng-show="!submitted && !loading">
    <h3>Project Request Form</h3>
  </div>
  <div class="info col-md-8 col-md-offset-2" data-ng-show="!submitted">
    <p>
      Innovative Design provides graphic design and photography services for both campus and non-campus organizations.
    </p>
    <p>
      Gold Tier does design work free-of-charge for UC Berkeley student organizations and events - exceptions apply for transporting photo equipment and fast deadlines. All project requests must be submitted three weeks in advance. To be considered a student group, the client must be listed in the UC Berkeley Student Organizations List found here: https://callink.berkeley.edu/Organizations.
    </p>
    <p>
      Blue Tier handles non-campus affiliated along with any expedited project requests. Projects that need to be completed in two weeks or less are considered to be expedited requests. Price estimates for Blue Tier requests are given based on the timeline and size of the project.
    </p>
    <p>
      Web Design Tier develops layout mockups and builds websites, while Video Tier composes and edits short promotional videos for local events (we do not provide video recording equipment or onsite filming). Requests that are not defined as a Gold Tier, Web Design Tier, or Video Tier project will be handled by Blue Tier.
    </p>
    <p>
      Please keep in mind that Gold Tier projects (such as flyers) may be watermarked with Innovative Design's logo. Additionally, we ask that you refrain from tinkering with finished designs and/or claiming Innovative Design's work as your own.
    </p>
    <p>
      The more information you can give us, the better we can serve you. We look forward to working with you. 
    </p>
  </div>
  <form name="request" class="request" data-ng-show="!submitted">
    <div class="form-group has-feedback col-md-8 col-md-offset-2">
      <label class="control-label" for="service">Service Type</label>
      <input type="text" data-ng-model="serviceType" name="serviceType" required class="form-control" id="serviceType" placeholder="Design, Photography, Web, etc.">
      <span data-ng-show="request.serviceType.$error.required" class="glyphicon glyphicon-certificate form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback col-md-8 col-md-offset-2">
      <label class="control-label" for="orgName">Organization Name</label>
      <input type="text" data-ng-model="orgName" name="orgName" required class="form-control" id="orgName" placeholder="Innovative Design">
      <span data-ng-show="request.orgName.$error.required" class="glyphicon glyphicon-certificate form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback col-md-8 col-md-offset-2">
      <label class="control-label" for="contactName">Contact Name</label>
      <input type="text" data-ng-model="contactName" name="contactName" required class="form-control" id="contactName" placeholder="Greg Chin/Lisa Inoue">
      <span data-ng-show="request.contactName.$error.required" class="glyphicon glyphicon-certificate form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback col-md-8 col-md-offset-2">
      <label class="control-label" for="contactNum">Contact Phone Number</label>
      <input type="text" data-ng-model="contactNum" name="contactNum" required data-ng-pattern="/\({0,1}[0-9]{3}\){0,1}\-{0,1}[0-9]{3}\-{0,1}[0-9]{4}/" class="form-control" id="contactNum" placeholder="(123)-456-7890">
      <span data-ng-show="request.contactNum.$error.required" class="glyphicon glyphicon-certificate form-control-feedback"></span>
      <span data-ng-show="request.contactNum.$error.pattern" class="glyphicon glyphicon-exclamation-sign form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback col-md-8 col-md-offset-2">
      <label class="control-label" for="contactEmail">Contact Email</label>
      <input type="email" data-ng-model="contactEmail" name="contactEmail" required data-ng-pattern="/^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/" class="form-control" id="contactEmail" placeholder="innovativedesignatcal@gmail.com">
      <span data-ng-show="request.contactEmail.$error.pattern" class="glyphicon glyphicon-exclamation-sign form-control-feedback"></span>
      <span data-ng-show="request.contactEmail.$error.required" class="glyphicon glyphicon-certificate form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback col-md-8 col-md-offset-2">
      <label class="control-label" for="orgType">Organization Type</label>
      <select data-ng-model="orgType" name="orgType" required class="form-control" id="orgType" placeholder="">
        <option value=""></option>
        <option value="On Campus">On Campus</option>
        <option value="Off Campus">Off Campus</option>
      </select>
      <span data-ng-show="request.orgType.$error.required" class="glyphicon glyphicon-certificate form-control-feedback selector"></span>
    </div>
    <div class="form-group has-feedback col-md-8 col-md-offset-2">
      <label class="control-label" for="orgInfo">Organization Information</label>
      <textarea data-ng-model="orgInfo" name="orgInfo" required class="form-control" id="orgInfo" rows="8" placeholder="Briefly describe your organization. Please include a website if applicable. e.g. Innovative Design is Berkeley's premier design and photography organization."></textarea>
      <span data-ng-show="request.orgInfo.$error.required" class="glyphicon glyphicon-certificate form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback col-md-8 col-md-offset-2">
      <label class="control-label" for="addInfo">Additional Information</label>
      <textarea data-ng-model="addInfo" name="addInfo" required class="form-control" id="addInfo" rows="8" placeholder="Please include more specific information about your request here."></textarea>
      <span data-ng-show="request.addInfo.$error.required" class="glyphicon glyphicon-certificate form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback col-md-8 col-md-offset-2">
      <label class="control-label" for="date">Proposed Deadline</label>
      <input type="text" data-ng-model="date" name="date" required data-ng-pattern="/[0-9]{1,2}\/[0-9]{1,2}\/[0-9]{2,4}/" class="form-control" id="date" placeholder="11/11/2014">
      <span data-ng-show="request.date.$error.required" class="glyphicon glyphicon-certificate form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback col-md-8 col-md-offset-2">
      <label class="control-label" for="sketch">Design Sketch</label>
      <input type="url" data-ng-model="sketch" name="sketch" class="form-control" id="sketch" placeholder="Please include link to a sketch of a design if applicable.">
    </div>
    <div class="col-md-8 col-md-offset-2">
      <div class="pager">
        <button class="btn btn-default margin-bot" data-ng-click="googleSheet()">Send Request</button>
      </div>
    </div>
  </form>
  <div data-ng-show="loading" class="loader">
    <div class="pager">
      <img src="../img/loading.gif" alt="">
    </div>
  </div>
  <div data-ng-show="submitted && !loading" class="sent pager">
    <h3>Your request has been sent!</h3>
    <p>If you have any questions or changes don't be afraid to <a href="mailto:innovativedesignatcal@gmail.com">email us</a>.</p>
    <p>If you'd like to contact a specific officer, please visit our <a href="/contact">contact page</a>.</p>
    <p><a href="/">Return Home</a></p>
  </div>
</div>