/*
 *
 * Icon Filling Affect by Sebastiano Guerriero
 * adapted by Christian Le for Innovative Design
 *
 * Original Article found here:
 * http://codyhouse.co/gem/icons-filling-effect/
 * 
 * Please follow Sebastiano Guerriero on his twitter: @guerriero_se
 * Please follow his dribbble at: https://dribbble.com/Sebastiano_Guerriero
 *
 */

/*
 * Innovative Design by Christian Le
 * http://christianle.com
 * Github: cle1994
 * LinkedIn: http://www.linkedin.com/in/christianle94/
 */

/*
 * Sass Mixins and Variables
 */

$primary-blue: #0592BF;
$primary-red: #C83353;
$primary-yellow: #E7B03A;
$primary-black: #252930;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; /* Stops background leaking */
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); /* IE8 */
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline
}

@mixin font-size($sizeValue: 14) {
  font-size: $sizeValue + px;
  font-size: (0.125 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 14 ){
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.125 * $heightValue) + rem;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-fill-mode($fill-mode) {
  -webkit-animation-fill-mode: $fill-mode;
  -moz-animation-fill-mode: $fill-mode;
  -o-animation-fill-mode: $fill-mode;
  animation-fill-mode: $fill-mode;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*
 * Icon filling animation
 */

html, body {
  height: 100%;
}

header {
  position: relative;
  color: lighten($primary-black, 25%);
  background-color: #ffffff;
  z-index: 2;
  padding: 3.5em 2.5em;
  font-size: 18px;
  line-height: 32px;
  font-weight: 300;
  min-height: 50%;
}

@media only screen and (min-width: 480px) {
  header {
    padding: 3.5em 2.5em;
    font-size: 24px;
    line-height: 36px;
  }
}

.fill-container {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
}
.fill-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

.about-wrapper::before, .about-wrapper::after {
  content: '';
  position: fixed;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 50%;
  z-index: -1;
  background: #fff;
}

.about-wrapper::before {
  top: 0;
  background-color: $primary-blue;
  -webkit-transition: background-color 0.8s;
  -moz-transition: background-color 0.8s;
  transition: background-color 0.8s;
}

.about-wrapper::after {
  top: 50%;
  background-color: #cccccc;
}

.about-wrapper {
  .foot {
    position: relative;
    padding-bottom: 50%;
    background-color: #ffffff;
    z-index: 3;
  }
}

@media only screen and (min-width: 768px) {
  .about-wrapper.new-color-1::before {
    background-color: $primary-yellow;
  }

  .about-wrapper.new-color-2::before {
    background-color: $primary-red;
  }

  .about-wrapper.new-color-3::before {
    background-color: $primary-blue;
  }

  .about-wrapper.new-color-4::before {
    background-color: $primary-red;
  }

  .about-wrapper.new-color-5::before {
    background-color: $primary-black;
  }
}

.fill-box {
  position: relative;
  z-index: 2;
  min-height: 60px;
  margin-left: 100px;
  background: #ffffff;
  color: lighten($primary-black, 25%);
  padding: 1em 2em 4em 1em;
}
.fill-box::before, .fill-box::after {
  content: '';
  position: absolute;
  width: 100px;
  right: 100%;
  z-index: 2;
}
.fill-box::before {
  top: 0;
  height: 60px;
  background-repeat: no-repeat;
}
.fill-box::after {
  top: 60px;
  bottom: 0;
  background-image: url("../img/cd-pattern-small.svg");
  background-repeat: repeat-y;
}
.fill-box.fill-box-divider::after {
  top: 0;
}
.fill-box.fill-box-divider:last-child {
  display: none;
}
.fill-box.fill-box-1::before {
  background-image: url("../img/cd-icon-1-small.svg");
}
.fill-box.fill-box-2::before {
  background-image: url("../img/cd-icon-2-small.svg");
}
.fill-box.fill-box-3::before {
  background-image: url("../img/cd-icon-3-small.svg");
}
.fill-box.fill-box-4::before {
  background-image: url("../img/cd-icon-4-small.svg");
}
.fill-box.fill-box-5::before {
  background-image: url("../img/cd-icon-5-small.svg");
}
.fill-box.fill-box-6::before {
  background-image: url("../img/cd-icon-6-small.svg");
}
.fill-box h2 {
  text-transform: uppercase;
  margin-bottom: 1.5em;
  font-size: 26px;
  font-family: sans-serif;
  font-weight: 300;
  color: lighten($primary-black, 25%);
}
.fill-box p {
  font-size: 20px;
  line-height: 20px;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 28px;
  color: lighten($primary-black, 25%);
}
@media only screen and (min-width: 1170px) {
  header {
    padding: 100px;
    font-size: 30px;
    line-height: 56px;
  }
  .fill-box {
    min-height: 525px;
    margin-left: 420px;
    padding: 6em 16em 6em 2em;
  }
  .fill-box::before, .fill-box::after {
    width: 420px;
  }
  .fill-box::before {
    height: 325px;
  }
  .fill-box::after {
    top: 325px;
    background-image: url("../img/cd-pattern-large.svg");
  }
  .fill-box.fill-box-divider:first-child, .fill-box.fill-box-divider:last-child {
    min-height: 50px;
    padding: 0;
  }
  .fill-box.fill-box-divider:last-child {
    display: none;
  }
  .fill-box.fill-box-1::before {
    background-image: url("../img/cd-icon-1-large.svg");
  }
  .fill-box.fill-box-2::before {
    background-image: url("../img/cd-icon-2-large.svg");
  }
  .fill-box.fill-box-3::before {
    background-image: url("../img/cd-icon-3-large.svg");
  }
  .fill-box.fill-box-4::before {
    background-image: url("../img/cd-icon-4-large.svg");
  }
  .fill-box.fill-box-5::before {
    background-image: url("../img/cd-icon-5-large.svg");
  }
  .fill-box.fill-box-6::before {
    background-image: url("../img/cd-icon-6-large.svg");
  }
  .fill-box h2, .fill-box p {
    color: lighten($primary-black, 25%);
    -webkit-transition: color, 0.5s;
    -moz-transition: color, 0.5s;
    transition: color, 0.5s;
  }
  .fill-box h2 {
    font-size: 30px;
  }
  .fill-box p {
    font-size: 24px;
    line-height: 36px;
  }
  .fill-box.focus h2 {
    color: lighten($primary-black, 25%);
  }
  .fill-box.focus p {
    color: lighten($primary-black, 25%);
  }
}

@media only screen and (max-width: 767px) {
  .about-wrapper {
    header {
      padding-top: 100px;
    }
  }
}