/*
 * Header and Animation for Home Page
 */
@keyframes words {
  0% { opacity: 0; width: 0; }
  2% { opacity: 1; }
  95% { opacity: 1; width: 100%;}
  100% { opacity: 0; }
}
@-webkit-keyframes words {
  0% { opacity: 0; width: 0; }
  2% { opacity: 1; }
  95% { opacity: 1; width: 100%;}
  100% { opacity: 0; }
}

@keyframes wordsLast {
  0% { opacity: 0; width: 0; }
  2% { opacity: 1; }
  100% { opacity: 1; width: 100%;}
}
@-webkit-keyframes wordsLast {
  0% { opacity: 0; width: 0; }
  2% { opacity: 1; }
  100% { opacity: 1; width: 100%;}
}

@keyframes cursor {
  0% {
    opacity: 0;
  }
  20% { 
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes cursor {
  0% {
    opacity: 0;
  }
  20% { 
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.logo-header {
  background: #ffffff;
  z-index: 2;
  height: 75vh;
  .logo-wrapper {
    position: relative;
    width: 90%;
    margin: 0px auto;
    padding: 100px;
    overflow: hidden;
    background: #ffffff;
    z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @media only screen and (max-width: 1024px) {
      padding: 100px 30px;
    }
    @media only screen and (max-width: 767px) {
      padding: 110px 30px;
    }
    @media only screen and (max-width: 480px) {
      padding: 120px 20px;
    }
    .logo-img {
      width: 100%;
      overflow: auto;
      .logotxt {
        width: 90%;
        z-index: 1;
        float: left;
        text-align: left;
      }
    }
    .animation {
      display: block;
      text-align: left;
      .type {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        font-family: sans-serif;
        font-size: 40px;
        font-size: 4.5vw;
        font-weight: 100;
        color: #0092bf;
        letter-spacing: 0.5em;
        @media only screen and (max-width: 1024px) {
          font-size: 5vw;
        }
        @media only screen and (max-width: 767px) {
          font-size: 6vw;
        }
        @media only screen and (max-width: 480px) {
          font-size: 6.5vw;
        }
        &:nth-child(1) {
          animation: words 1.25s steps(48) 0s 1;
          -o-animation: words 1.25s steps(48) 0s 1;
          -moz-animation: words 1.25s steps(48) 0s 1;
          -webkit-animation: words 1.25s steps(48) 0s 1;
        }
        &:nth-child(2) {
          animation: words 1.25s steps(48) 1.25s 1;
          -o-animation: words 1.25s steps(48) 1.25s 1;
          -moz-animation: words 1.25s steps(48) 1.25s 1;
          -webkit-animation: words 1.25s steps(48) 1.25s 1;
        }
        &:nth-child(3) {
          animation: words 1.25s steps(48) 2.5s 1;
          -o-animation: words 1.25s steps(48) 2.5s 1;
          -moz-animation: words 1.25s steps(48) 2.5s 1;
          -webkit-animation: words 1.25s steps(48) 2.5s 1;
        }
        &:nth-child(4) {
          animation: words 1.25s steps(48) 3.75s 1;
          -o-animation: words 1.25s steps(48) 3.75s 1;
          -moz-animation: words 1.25s steps(48) 3.75s 1;
          -webkit-animation: words 1.25s steps(48) 3.75s 1;
        }
        &:nth-child(5) {
          animation: words 1.25s steps(48) 5s 1;
          -o-animation: words 1.25s steps(48) 5s 1;
          -moz-animation: words 1.25s steps(48) 5s 1;
          -webkit-animation: words 1.25s steps(48) 5s 1;
        }
        &:nth-child(6) {
          animation: wordsLast 1.25s steps(48) 6.25s 1;
          -o-animation: wordsLast 1.25s steps(48) 6.25s 1;
          -moz-animation: wordsLast 1.25s steps(48) 6.25s 1;
          -webkit-animation: wordsLast 1.25s steps(48) 6.25s 1;
          animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
        }
        span {
          animation: cursor 0.7s infinite;
          -o-animation: cursor 0.7s infinite;
          -moz-animation: cursor 0.7s infinite;
          -webkit-animation: cursor 0.7s infinite;
        }
      }
    }
  }
}

/*
 * Events
 */
.events {
  height: 26px;
  width: 100%;
  font-size: 14px;
  background: #c5c5c5;
  color: #ffffff;
  padding-left: 8px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 999999999999;
  overflow: hidden;
  img {
    position: absolute;
    top: 4px;
    display: inline-block;
    width: 18px;
  }
  a {
    display: inline-block;
    color: #ffffff;
    line-height: 26px;
    margin-left: 26px;
  }
  &:hover {
    img {
      opacity: 0.7;
    }
    a {
      color: #eeeeee;
    }
  }
}

/*
 * Portfolio
 */

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}
@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}

.arrow-down {
  font-size: 50px;
  margin-top: 50px;
  margin-bottom: 125px;
  @include animation(bounce 2s infinite);
  cursor: pointer;
}

.image-container {
  background: #ffffff;
  .center-col {
    text-align: center;
  }
  .background-green {
    width: 100%;
    background: url('../img/portfolio/Marketing/panel.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    -moz-box-shadow: 0px 0px 5px #aaaaaa;
    -webkit-box-shadow: 0px 0px 5px #aaaaaa;
  }
  .background-red {
    width: 100%;
    background: url('../img/portfolio/Marketing/bear.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    -moz-box-shadow: 0px 0px 5px #aaaaaa;
    -webkit-box-shadow: 0px 0px 5px #aaaaaa;
  }
  .background-blue {
    width: 100%;
    background: url('../img/portfolio/Marketing/obsession.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    -moz-box-shadow: 0px 0px 5px #aaaaaa;
    -webkit-box-shadow: 0px 0px 5px #aaaaaa;
  }
  .background-yellow {
    width: 100%;
    background: url('../img/portfolio/Marketing/cards.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    -moz-box-shadow: 0px 0px 5px #aaaaaa;
    -webkit-box-shadow: 0px 0px 5px #aaaaaa;
  }
}
