/*
 * Sass Mixins and Variables
 */

$primary-blue: #0592BF;
$primary-red: #C83353;
$primary-yellow: #E7B03A;
$primary-black: #252930;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; /* Stops background leaking */
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); /* IE8 */
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline
}

@mixin font-size($sizeValue: 14) {
  font-size: $sizeValue + px;
  font-size: (0.125 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 14 ){
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.125 * $heightValue) + rem;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*
 * Header and Animation for Home Page
 */

@include keyframes(words) {
  0% { opacity: 0; width: 0; }
  2% { opacity: 1; }
  95% { opacity: 1; width: 100%;}
  100% { opacity: 0; }
}

@include keyframes(lastWord) {
  0% { opacity: 0; width: 0; }
  2% { opacity: 1; }
  100% { opacity: 1; width: 100%;}
}

@include keyframes(cursor) {
  0% { opacity: 0; }
  20%, 40%, 60% { opacity: 1; }
  80%, 100% { opacity: 0; }
}

.logo-header {
  background: #ffffff;
  z-index: 2;
  height: 60vh;
  .logo-wrapper {
    position: relative;
    width: 90%;
    margin: 0px auto;
    overflow: hidden;
    background: #ffffff;
    z-index: 1;
    padding: 100px 30px;
    top: 50%;
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    transform: translateY(-60%);
    @media only screen and (max-width: 1024px) {
      padding: 100px 30px;
    }
    @media only screen and (max-width: 767px) {
      padding: 110px 30px;
    }
    @media only screen and (max-width: 480px) {
      padding: 120px 20px;
    }
    .logo-img {
      width: 100%;
      overflow: auto;
      .logotxt {
        width: 100%;
        z-index: 1;
        float: left;
        text-align: left;
      }
    }
    .animation {
      display: block;
      text-align: left;
      .type {
        position: absolute;
        opacity: 0;
        overflow: hidden;
        font-family: sans-serif;
        font-size: 40px;
        font-size: 4.5vw;
        font-weight: 100;
        color: $primary-blue;
        letter-spacing: 0.5em;
        @media only screen and (max-width: 1024px) {
          font-size: 5vw;
        }
        @media only screen and (max-width: 767px) {
          font-size: 6vw;
        }
        @media only screen and (max-width: 480px) {
          font-size: 6.5vw;
        }
        &:nth-child(1) {
          animation: words 1.25s steps(48) 0s 1;
          -o-animation: words 1.25s steps(48) 0s 1;
          -moz-animation: words 1.25s steps(48) 0s 1;
          -webkit-animation: words 1.25s steps(48) 0s 1;
        }
        &:nth-child(2) {
          animation: words 1.25s steps(48) 1.25s 1;
          -o-animation: words 1.25s steps(48) 1.25s 1;
          -moz-animation: words 1.25s steps(48) 1.25s 1;
          -webkit-animation: words 1.25s steps(48) 1.25s 1;
        }
        &:nth-child(3) {
          animation: words 1.25s steps(48) 2.5s 1;
          -o-animation: words 1.25s steps(48) 2.5s 1;
          -moz-animation: words 1.25s steps(48) 2.5s 1;
          -webkit-animation: words 1.25s steps(48) 2.5s 1;
        }
        &:nth-child(4) {
          animation: words 1.25s steps(48) 3.75s 1;
          -o-animation: words 1.25s steps(48) 3.75s 1;
          -moz-animation: words 1.25s steps(48) 3.75s 1;
          -webkit-animation: words 1.25s steps(48) 3.75s 1;
        }
        &:nth-child(5) {
          animation: words 1.25s steps(48) 5s 1;
          -o-animation: words 1.25s steps(48) 5s 1;
          -moz-animation: words 1.25s steps(48) 5s 1;
          -webkit-animation: words 1.25s steps(48) 5s 1;
        }
        &:nth-child(6) {
          animation: lastWord 1.25s steps(48) 6.25s 1;
          -o-animation: lastWord 1.25s steps(48) 6.25s 1;
          -moz-animation: lastWord 1.25s steps(48) 6.25s 1;
          -webkit-animation: lastWord 1.25s steps(48) 6.25s 1;
          animation-fill-mode: forwards;
          -o-animation-fill-mode: forwards;
          -moz-animation-fill-mode: forwards;
          -webkit-animation-fill-mode: forwards;
        }
        span {
          animation: cursor 0.7s infinite;
          -o-animation: cursor 0.7s infinite;
          -moz-animation: cursor 0.7s infinite;
          -webkit-animation: cursor 0.7s infinite;
        }
      }
    }
  }
}

/*
 * Events
 */
.events {
  height: 26px;
  width: 100%;
  font-size: 14px;
  background: #c5c5c5;
  color: #ffffff;
  padding-left: 8px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 999999999999;
  overflow: hidden;
  img {
    position: absolute;
    top: 4px;
    display: inline-block;
    width: 18px;
  }
  a {
    display: inline-block;
    color: #ffffff;
    line-height: 26px;
    margin-left: 26px;
  }
  &:hover {
    img {
      opacity: 0.7;
    }
    a {
      color: #eeeeee;
    }
  }
}

/*
 * Portfolio
 */

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
  40% {
    @include transform(translateY(-30px));
  }
  60% {
    @include transform(translateY(-15px));
  }
}


.arrow-down {
  font-size: 60px;
  @include animation(bounce 2s infinite);
  cursor: pointer;
  margin: 75px auto 125px auto;
  color: lighten($primary-black, 25%);
}

.image-container {
  background: #ffffff;
  margin-top: 30px;
  .center-col {
    text-align: center;
  }
  .background-green {
    width: 100%;
    background: url('../img/portfolio/Marketing/panel.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    -moz-box-shadow: 0px 0px 5px #aaaaaa;
    -webkit-box-shadow: 0px 0px 5px #aaaaaa;
  }
  .background-red {
    width: 100%;
    background: url('../img/portfolio/Marketing/bear.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    -moz-box-shadow: 0px 0px 5px #aaaaaa;
    -webkit-box-shadow: 0px 0px 5px #aaaaaa;
  }
  .background-blue {
    width: 100%;
    background: url('../img/portfolio/Marketing/obsession.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    -moz-box-shadow: 0px 0px 5px #aaaaaa;
    -webkit-box-shadow: 0px 0px 5px #aaaaaa;
  }
  .background-yellow {
    width: 100%;
    background: url('../img/portfolio/Marketing/cards.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    -moz-box-shadow: 0px 0px 5px #aaaaaa;
    -webkit-box-shadow: 0px 0px 5px #aaaaaa;
  }
}
