/*
 * Innovative Design by Christian Le
 * http://christianle.com
 * Github: cle1994
 * LinkedIn: http://www.linkedin.com/in/christianle94/
 */

/*
 * Sass Mixins and Variables
 */

$primary-blue: #0592BF;
$primary-red: #C83353;
$primary-yellow: #E7B03A;
$primary-black: #252930;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; /* Stops background leaking */
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); /* IE8 */
}

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline
}

@mixin font-size($sizeValue: 14) {
  font-size: $sizeValue + px;
  font-size: (0.125 * $sizeValue) + rem;
}

@mixin line-height($heightValue: 14 ){
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.125 * $heightValue) + rem;
}

@mixin animation($animate...) {
  $max: length($animate);
  $animations: '';

  @for $i from 1 through $max {
    $animations: #{$animations + nth($animate, $i)};

    @if $i < $max {
      $animations: #{$animations + ", "};
    }
  }
  -webkit-animation: $animations;
  -moz-animation: $animations;
  -o-animation: $animations;
  animation: $animations;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-fill-mode($fill-mode) {
  -webkit-animation-fill-mode: $fill-mode;
  -moz-animation-fill-mode: $fill-mode;
  -o-animation-fill-mode: $fill-mode;
  animation-fill-mode: $fill-mode;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  transform: $transform;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/*
 * Header and Animation for Home Page
 */

@include keyframes(words) {
  0% { opacity: 0; width: 0; }
  2% { opacity: 1; }
  95% { opacity: 1; width: 100%;}
  100% { opacity: 0; }
}

@include keyframes(lastWord) {
  0% { opacity: 0; width: 0; }
  2% { opacity: 1; }
  100% { opacity: 1; width: 100%;}
}

@include keyframes(cursor) {
  0% { opacity: 0; }
  20%, 40%, 60% { opacity: 1; }
  80%, 100% { opacity: 0; }
}

.logo-wrapper {
  z-index: 2;
  background: #ffffff;
  height: 50vh;
  padding: 7.5%;
  .logo-vert {
    @include vertical-align;
    .logo-img {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .animation-wrapper {
      .typewriter {
        .type {
          position: absolute;
          overflow: hidden;
          opacity: 0;
          text-transform: uppercase;
          font-family: sans-serif;
          font-weight: 100;
          font-size: 60px;
          font-size: 5vw;
          letter-spacing: 0.5em;
          color: $primary-blue;
          @include animation(words 1.25s steps(20) 0s 1);
          &:nth-child(2) {
            @include animation(words 1.25s steps(20) 1.25s 1);
          }
          &:nth-child(3) {
            @include animation(words 1.25s steps(20) 2.5s 1);
          }
          &:nth-child(4) {
            @include animation(words 1.25s steps(20) 3.75s 1);
          }
          &:nth-child(5) {
            @include animation(words 1.25s steps(20) 5s 1);
          }
          &:nth-child(6) {
            @include animation(lastWord 1.25s steps(20) 6.25s 1);
            @include animation-fill-mode(forwards);
          }
          & span {
            @include animation(cursor 0.7s infinite);
          }

          @media only screen and (max-width: 980px) {
            font-size: 44px;
            font-size: 4.5vw;
          }
          @media only screen and (max-width: 880px) {
            font-size: 38px;
            font-size: 4.35vw;
          }
          @media only screen and (max-width: 767px) {
            font-size: 54px;
            font-size: 6vw;
          }
          @media only screen and (max-width: 700px) {
            font-size: 42px;
            font-size: 5.75vw;
          }
          @media only screen and (max-width: 570px) {
            font-size: 30px;
            font-size: 6vw;
          }
        }
      }
    }
  }
}

@include keyframes(bounce) {
  0%, 55%, 100% {
    opacity: 0;
    @include transform(translateY(0));
  }
  10% {
    @include transform(translateY(-30px));
    opacity: 1;
  }
  15% {
    @include transform(translateY(0px));
    opacity: 1;
  }
  20% {
    @include transform(translateY(-15px));
    opacity: 1;
  }
  30%, 40% {
    @include transform(translateY(0px));
    opacity: 1;
  }
}

.scroll-down {
  height: 50vh;
  .bounce-wrapper {
    @include vertical-align;
    .arrow-down {
      @include animation(bounce 4s infinite);
      cursor: pointer;
      font-size: 60px;
    }
  }
}

/*
 * Events
 */
.events {
  height: 26px;
  width: 100%;
  font-size: 14px;
  background: #c5c5c5;
  color: #ffffff;
  padding-left: 8px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 999999999999;
  overflow: hidden;
  img {
    position: absolute;
    top: 4px;
    display: inline-block;
    width: 18px;
  }
  a {
    display: inline-block;
    color: #ffffff;
    line-height: 26px;
    margin-left: 26px;
  }
  &:hover {
    img {
      opacity: 0.7;
    }
    a {
      color: #eeeeee;
    }
  }
}

/*
 * Portfolio
 */

.image-container {
  background: #ffffff;
  margin-top: 30px;

  .center-col {
    text-align: center;
  }
  .background {
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    height: 325px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 5px #aaaaaa;
    -moz-box-shadow: 0px 0px 5px #aaaaaa;
    -webkit-box-shadow: 0px 0px 5px #aaaaaa;
    cursor: pointer;
  }
}

.full-image {
  display: table;
  table-layout: fixed;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.95);
  z-index: 100000000;
  .middle {
    display: table-cell;
    vertical-align: middle;
    z-index: 100000000;
    .popup-image {
      position: relative;
      z-index: 100000000;
      text-align: center;
      .image-wrapper {
        position: relative;
        display: inline-block;
        img {
          max-width: 80%;
          max-height: 80vh;
        }
        .x-close {
          z-index: 100000000000000;
          position: absolute;
          top: -15px;
          right: 20px;
          background: #ffffff;
          border-radius: 50%;
          border: 1px solid #dddddd;
          width: 30px;
          height: 30px;
          .x {
            -webkit-transition: all 0.25s;
            -moz-transition: all 0.25s;
            transition: all 0.25s;
            position: absolute;
            width: 20px;
            height: 3px;
            background: #cccccc;
            top: 13px;
            left: 4px;
          }
          .x1 {
            @include transform(rotate(45deg));
          }
          .x2 {
            @include transform(rotate(-45deg));
          }
        }
      }
    }
  }
}
