html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 100%;
  font-family: sans-serif;
  color: #888888;
}

a {
  transition: color 0.15s;
  -o-transition: color 0.15s;
  -moz-transition: color 0.15s;
  -webkit-transition: color 0.15s;
}

.nav-links {
  font-size: 24px;
  font-weight: 200;
  margin: 20px 0px 20px 20px;
}

/*
 * ngAnimate
 * slide in from the left
 */
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
/*
 * ngAnimate
 * Scale to 80%
 */
@keyframes scaleOut {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.8, 0.8);
  }
}
@-moz-keyframes scaleOut {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.8, 0.8);
  }
}
@-webkit-keyframes scaleOut {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0.8, 0.8);
  }
}
/*
 * ngAnimate
 * Enter and Leave animations
 */
.animate-view.ng-enter {
  animation: slideInLeft both ease-in;
  z-index: 100000000;
}
.animate-view.ng-leave {
  animation: scaleOut both ease-in;
  z-index: 99999999;
}

.footer {
  background: #ffffff;
  height: 50vh;
}
.footer-40 {
  background: #ffffff;
  height: 40vh;
}
.footer-20 {
  background: #ffffff;
  height: 20vh;
}
.footer-10 {
  background: #ffffff;
  height: 10vh;
}