// Menu Bar

.menu-toggle {
    @include box-shadow(0, 0, 8px, #aaaaaa);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    height: 50px;
    display: none;

    .hamburger {
        position: absolute;
        top: 12.5px;
        left: 15px;
        width: 30px;
        height: 25px;
        cursor: pointer;

        -webkit-transition: left 0.35s;
        -moz-transition: left 0.35s;
        -ms-transition: left 0.35s;
        -o-transition: left 0.35s;
        transition: left 0.35s;

        .bar {
            position: absolute;
            width: 30px;
            height: 5px;
            background-color: $primary-blue;

            &.bar1 {
                left: 0;
                top: 0;

                -webkit-transition: width 0.5s, top 0.5s, transform 0.5s;
                -moz-transition: width 0.5s, top 0.5s, transform 0.5s;
                -ms-transition: width 0.5s, top 0.5s, transform 0.5s;
                -o-transition: width 0.5s, top 0.5s, transform 0.5s;
                transition: width 0.5s, top 0.5s, transform 0.5s;
            }

            &.bar2 {
                left: 0;
                top: 10px;

                -webkit-transition: width 0.5s, left 0.5s, top 0.5s, transform 0.5s;
                -moz-transition: width 0.5s, left 0.5s, top 0.5s, transform 0.5s;
                -ms-transition: width 0.5s, left 0.5s, top 0.5s, transform 0.5s;
                -o-transition: width 0.5s, left 0.5s, top 0.5s, transform 0.5s;
                transition: width 0.5s, left 0.5s, top 0.5s, transform 0.5s;
            }

            &.bar3 {
                left: 0;
                top: 20px;

                -webkit-transition: width 0.5s, top 0.5s, transform 0.5s;
                -moz-transition: width 0.5s, top 0.5s, transform 0.5s;
                -ms-transition: width 0.5s, top 0.5s, transform 0.5s;
                -o-transition: width 0.5s, top 0.5s, transform 0.5s;
                transition: width 0.5s, top 0.5s, transform 0.5s;
            }
        }

        &.showSidebar {
            .bar {
                &.bar1 {
                    top: 3.5px;
                    width: 22px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -ms-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                }

                &.bar2 {
                    left: 5px;
                    -webkit-transform: rotate(180deg);
                    -moz-transform: rotate(180deg);
                    -ms-transform: rotate(180deg);
                    -o-transform: rotate(180deg);
                    transform: rotate(180deg);   
                }

                &.bar3 {
                    top: 16.5px;
                    width: 22px;
                    -webkit-transform: rotate(225deg);
                    -moz-transform: rotate(225deg);
                    -ms-transform: rotate(225deg);
                    -o-transform: rotate(225deg);
                    transform: rotate(225deg);
                }
            }
        }
    }

    .menu {
        @include innod-font();
        position: absolute;
        top: 0;
        left: 60px;
        text-transform: uppercase;
        letter-spacing: 6px;
        font-size: 18px;
        line-height: 48px;
        cursor: pointer;
        opacity: 0.85;
        color: $primary-blue;

        -webkit-transition: opacity 0.35s;
        -moz-transition: opacity 0.35s;
        -ms-transition: opacity 0.35s;
        -o-transition: opacity 0.35s;
        transition: opacity 0.35s;        

        &.hide {
            overflow: none;
            opacity: 0;
        }
    }

    @media (max-width: 860px) {
        display: block;

        -webkit-transition: left 0.35s, width 0.35s;
        -moz-transition: left 0.35s, width 0.35s;
        -o-transition: left 0.35s, width 0.35s;
        transition: left 0.35s, width 0.35s;

        &.showSidebar {

            .menu {
                display: none;
            }
        }
    }
}